# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/

# JetBrains
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Python
__pycache__/
*.pyc
.venv/

# Logs
*.log